<h2>Selected Screening</h2>
<div>
  <p>Title: <%= @screening.display_title %></p>
  <p>Start Time: <%= @screening.start_time %></p>
  <p>Number of empty seats: <%= @screening.empty_seats %></p>
</div>
